<div class="footer" id="footer">
    <div class="box">
        <h3>Jaiswal Solutions Private Limited</h3>
        <b>Regd. Address:</b>
        <br />
        94 KHHA, Dharamshala bazar, Dudahi, Kushinagar, UP
        <br />
        Pin - 274302
        <br />
        <br />
        <b>Address-2:</b>
        <br />
        Incubation Center, IIIT Bhubaneswar,
        <br />
        Gothapatna, Bhubaneswar, Odisha
        <br />
        Pin - 751003
    </div>
    <div class="box">
        <h4>Important links</h4>
        <li [routerLink]="['rates']">Scrap Rates</li>
        <li>Blogs</li>
        <p>Made with ❤️ by 
            <b>NIKHIL JAISWAL</b>
        </p>
        <p>&copy; Copyright ScrapWalah. All Rights Reserved</p>
    </div>
    <div class="box">
        <h3 m-0>Contact Us</h3>
        <div class="mob">
            <img src="https://i.pinimg.com/736x/fc/27/fb/fc27fb81e77cc56ba4ed981d7801ceb9.jpg" alt="phone" />
            <p>+91-9129473706</p>
        </div>
        <div class="mob">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4fnpNNntpKUgom0-lB7s5TDs61_ys7Lk2NA"
            alt="mail" />
            <p>nikhiljai111&#64;gmail.com</p>
        </div>
        <p>Customer Support available from 10am - 7pm</p>
        <h4 m-0>Find Us Here</h4>
        <div class="social">
            <a href="instagram.com">
                <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
                alt="social" />
            </a>
            <a href="fb.com">
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="social" />
            </a>
            <a href="twitter.com">
                <img
                src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png"
                alt="social" />
            </a>
            <a href="linkedin.com">
                <img
                src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png"
                alt="social" />
            </a>
        </div>
    </div>
</div>