<div>
    <div class="notes" id="notes">
        <div class="note">
            <ul>
                <li>The prices may vary with fluctuation in the scrap market.</li>
                <li>We don't deal in toughened glass, wooden items, fabrics, ceramics and vehicle scrap.
                </li>
                <li>Prices may be different for bulk pickups. Call us at +91-9129473706 to get a quote for bulk pickup.
                </li>
            </ul>
        </div>
    </div>

    <div class="rates">
        <div class="category">
            <h3>Normal Recyclables</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/newspaper-report.png" alt="" />
                    <p>Rs. 14/Kg</p>
                    <p class="content">NEWS PAPER</p>
                </div>
                <div class="boxes">
                    <img src="https://ikc.edgekit.net/h1rxzpffx/scrapuncle/assets/papers_rorTDynz7.png?updatedAt=1710451407122" alt="" />
                    <p>Rs. 15/Kg</p>
                    <p class="content">OFFICE PAPER</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapecox/Books.webp"
                        alt="" />
                    <p>Rs. 12/Kg</p>
                    <p class="content">BOOKS</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/bin.png" alt="" />
                    <p>Rs. 10/Kg</p>
                    <p class="content">PLASTICS</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/box.png" alt="" />
                    <p>Rs. 15/Kg</p>
                    <p class="content">CARDBOARD</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Metals</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/beam.png" alt="" />
                    <p>Rs. 25/Kg</p>
                    <p class="content">IRON</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/hook.png" alt="" />
                    <p>Rs. 40/Kg</p>
                    <p class="content">STEEL</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/beer.png" alt="" />
                    <p>Rs. 130/Kg</p>
                    <p class="content">ALUMINIUM</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/brass-nuckle.png" alt="" />
                    <p>Rs. 400/Kg</p>
                    <p class="content">BRASS</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/wire.png" alt="" />
                    <p>Rs. 550/Kg</p>
                    <p class="content">COPPER</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Large Appliances</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/air-conditioner.png" alt="" />
                    <p>Rs. 4500/Piece</p>
                    <p class="content">AC</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/air-conditioner(1).png" alt="" />
                    <p>Rs. 4000/Piece</p>
                    <p class="content">WINDOW AC</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/smart-washing-machine.png" alt="" />
                    <p>Rs. 1000/Piece</p>
                    <p class="content">WASH.MACHINE</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/fridge.png" alt="" />
                    <p>Rs. 1000/Piece</p>
                    <p class="content">FRIDGE</p>
                </div>
                <div class="boxes">
                    <img src="https://ikp.edgekit.net/h1rxzpffx/swapeco/img/scrap-item/ventilation.png" alt="" />
                    <p>Rs. 30/Kg</p>
                    <p class="content">COOLER</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Small Appliances</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/television.png" alt="" />
                    <p>Rs. 300/piece</p>
                    <p class="content">TV</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/fan.png" alt="" />
                    <p>Rs. 50/Kg</p>
                    <p class="content">FAN</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/generator(1).png" alt="" />
                    <p>Rs. 70/Kg</p>
                    <p class="content">MOTOR</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/engine.png" alt="" />
                    <p>Rs. 70/Kg</p>
                    <p class="content">INVERTER</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/battery.png" alt="" />
                    <p>Rs. 100/Kg</p>
                    <p class="content">BATTERY</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Mobiles & Computers</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/black-laptop.png" alt="" />
                    <p>Rs. 500/Piece</p>
                    <p class="content">LAPTOP</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/computer(2).png" alt="" />
                    <p>Rs. 300/Piece</p>
                    <p class="content">MONITOR</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/tablet.png" alt="" />
                    <p>Rs. 50/Piece</p>
                    <p class="content">TABLET</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/printer.png" alt="" />
                    <p>Rs. 70/Piece</p>
                    <p class="content">PRINTER</p>
                </div>
                <div class="boxes">
                    <img src="https://swapeco.com/img/scrap-item/lamp.png" alt="" />
                    <p>Rs. 15/Kg</p>
                    <p class="content">LAMP</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Others</h3>
            <div class="cards">
                <div class="boxes">
                    <img src="https://ik.imagekit.io/h1rxzpffx/scrapuncle/assets/car_s-IuUatKN.png?ik-sdk-version=javascript-1.4.3&updatedAt=1663839988197"
                        alt="" />
                    <p>Rs. 20,000/Kg</p>
                    <p class="content">CAR</p>
                </div>
                <div class="boxes">
                    <img src="https://ik.imagekit.io/h1rxzpffx/tr:h-100/scrapuncle/item-rates/e5694fb12916c00661195c0a833d1ba9-sports-bike-icon_xj2HJTpeT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676742789495"
                        alt="" />
                    <p>Rs. 3,000/Kg</p>
                    <p class="content">BIKE</p>
                </div>
                <div class="boxes">
                    <img src="https://cdn3.vectorstock.com/i/1000x1000/13/42/furniture-company-logo-design-with-using-table-vector-30281342.jpg"
                        alt="" />
                    <p>Rs. 10/Kg</p>
                    <p class="content">WOODEN</p>
                </div>
            </div>
        </div>
    </div>

</div>