.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
    background: white;
    box-shadow: 0px 5px 10px 0px #3ab34a;
    position: fixed;
    top: 0;
    z-index: 50;

    .logo{
        display: flex;
        cursor: pointer;

        img{
            margin: 0px 2px 0px 20px;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
        }
        h1{
            margin-top: 10px;
            color: #067c16;
            font-size: 1.5rem;
        }
    }

    ul{
        background-color: white;
        display: flex;
        align-items: center;
        margin: 0px 5px;

        li{
            list-style: none;
            margin-left: 10px;
            color: #067c16;
            font-size: 17px;
            font-weight:bold;

            a{
                border-radius: 10px;
                padding: 5px;
                color: #067c16;
                text-decoration: none;

                &:hover{
                    color: white;
                    background-color: #3ab34a; 
                    font-weight: light;
                }
            }
        }
    }
}