<div class="navbar">
    <div class="logo">
        <img src="https://i.pinimg.com/originals/b1/ee/59/b1ee59212c497de48b9c4a0e3157bb2a.jpg" alt="logo.png" />
        <h1>crapwala</h1>
    </div>
    <ul>
        <li><a  style="cursor: pointer;">Dashboard</a></li>
        <li><a href="">Orders Management</a></li>
        <li><a [routerLink]="['users-detail']">Users Management </a></li>
        <li><a [routerLink]="['register-admin']">Add Admin</a></li>
        <li><a [routerLink]="['roles']">Roles Management</a></li>
    </ul>
</div>