<ngx-ui-loader 
    fgsColor="#2b8709"
    fgsType="rectangle-bounce-pulse-out-rapid"
    pbColor="#2b8709"
    logoPosition="center-center"
    logoUrl="https://thumbs.dreamstime.com/b/angular-logo-editorial-illustrative-white-background-angular-logo-editorial-illustrative-white-background-eps-download-208329119.jpg"
></ngx-ui-loader>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-hero></app-hero> -->
<!-- <app-landing></app-landing>
<app-whyus></app-whyus>
<app-purpose></app-purpose>
<app-testimonials></app-testimonials> -->
<!-- <app-rates></app-rates> -->
<!-- <app-form></app-form> -->
<app-footer></app-footer>
